# Editor configurations
.vs/
.idea/
*.iml

# Build files
.tanstack/
.wrangler/
node_modules/
dist/
build/
out/
coverage/
.venv/
*.egg-info/
*.tsbuildinfo
*.d.ts
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/

# User files
.env*
!.env*.template

# Miscellaneous files
.tmp/
.DS_Store
Desktop.ini
Thumbs.db
!.gitkeep
