# Editor configurations
.vs/
.idea/

# Environment files
.wrangler/
.tanstack/
node_modules/
dist/
*.d*

# User files
.env*
!.env*.template

# Project files
/src/routeTree.gen.ts

# Miscellaneous files
.DS_Store
Desktop.ini
Thumbs.db
!.gitkeep
